APP_NAME="SB - CONTROLADORIA"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_TIMEZONE=America/Sao_Paulo
DB_TIMEZONE=-03:00

BCRYPT_ROUNDS=4

LOG_CHANNEL=null
MAIL_MAILER=array

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=null
FILESYSTEM_DISK=local

PULSE_ENABLED=false
TELESCOPE_ENABLED=false
NIGHTWATCH_ENABLED=false

VITE_APP_NAME="${APP_NAME}"
